altair
annotated-types
attrs
bcrypt
blinker
branca
cachetools
certifi
charset-normalizer
click
click-plugins
cligj
colorama
colour
contourpy
cycler
deprecation
extra-streamlit-components
fiona
folium
fonttools
geopandas
gitdb
GitPython
htmlmin
idna
ImageHash
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
mapclassify
markdown-it-py
MarkupSafe
matplotlib
mdurl
missingno
multimethod
networkx
numpy
packaging
pandas
pandas-profiling
phik
pillow
plotly
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
shapely
six
smmap
streamlit
streamlit-antd-components
streamlit-authenticator
streamlit-folium
streamlit-option-menu
streamlit-pandas-profiling
tangled-up-in-unicode
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
watchdog
xyzservices
zipp
